<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permission to record audio -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <!-- Required inside manifest, even if empty -->
    <application>
        <!-- Your app components go here, e.g. activities -->
    </application>

</manifest>